.project-listing {
  width: 70%;
  height: calc(200px - 44px);
  padding: 20px;
  border: 2px solid black;
  display: flex;
  margin-bottom: 20px;
}

.project-listing-image {
  height: 100%;
  width: 200px;
}

.project-listing-description {
  height: 100%;
  width: 100%;
  margin-left: 20px;
}

.project-listing-description-title {
  text-transform: uppercase;
  font-size: 1.3em;
}

.project-listing-description-text {
  margin-top: 30px;
  font-size: 1.1em;
  font-weight: 500;
}

.project-listing-description-links {
  margin-top: 30px;
  display: flex;
}

.project-listing-description-links div {
  margin-right: 20px;
}

@media only screen and (max-width: 1030px) {
  .project-listing {
    height: calc(250px - 44px);
  }
}

@media only screen and (max-width: 760px) {
  .project-listing {
    min-height: calc(400px - 44px);
    height: fit-content;
    overflow: hidden;
    flex-wrap: wrap;
  }

  .project-listing-image {
    height: 50%;
    max-height: 50%;
    width: 100%;
  }

  .project-listing-description {
    margin-left: 0;
    min-height: 50%;
  }

  .project-listing-description-title {
    text-align: center;
    margin-top: 10px;
  }

  .project-listing-description p,
  .project-listing-description a {
    font-size: 3vw;
  }

  .project-listing-description-text {
    text-align: justify;
  }

  .project-listing-description-text,
  .project-listing-description-links {
    margin-top: 15px;
  }
}
