.Line1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Line1 .InputWrapper {
  width: 48%;
  margin-top: 10px;
}

.Line1 .InputWrapper input {
  width: calc(100% - 14px);
  height: 30px;
  margin-top: 5px;
}

.Line2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.Line2 .InputWrapper {
  width: 100%;
}

.Line2 .InputWrapper textarea {
  width: calc(100% - 14px);
  height: 200px;
  margin-top: 5px;
  text-align: start;
}

.InputWrapper p {
  font-weight: normal;
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .About {
    width: 80%;
  }

  .Line1 {
    flex-wrap: wrap;
  }

  .Line1 .InputWrapper {
    max-width: 100%;
    min-width: 100%;
    justify-content: flex-start;
  }

  .Line1 .InputWrapper input {
    /* 4px de borda, 10px de padding */
    width: calc(100% - 14px);
  }

  .Line2 .InputWrapper textarea {
    /* 4px de borda, 10px de padding */
    width: calc(100% - 14px);
  }
}

@media only screen and (max-width: 950px) {
  .About {
    max-width: 80%;
  }
}
