@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html,
body,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

main {
  min-height: 600px;
  max-width: 100%;
  margin: 35px;
  padding-bottom: 15px;
  border: 3px solid black;
  font-family: "Montserrat";
}

p {
  color: black;
  font-weight: lighter;
  font-size: 22px;
}

a {
  color: black;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 100px;
}

input,
textarea,
button {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: lighter;
  border: 2px solid black;
  padding: 5px;
  resize: none;
}

button {
  cursor: pointer;
  background-color: white;
}

input:focus,
textarea:focus {
  outline: none;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.Header {
  display: flex;
  max-width: 100%;
}

.IntroBox {
  margin-top: -40px;
  margin-left: -3px;
  left: 35px;
  background-color: black;
  min-width: 40%;
  max-height: 100px;
  padding: 40px;
  color: white;
  text-align: center;
}

.IntroBox h1 {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

.IntroBox h2 {
  font-weight: lighter;
  font-size: 30px;
  margin-top: 10px;
}

.Icon {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 950px) {
  /* For mobile phones: */

  main {
    min-height: 500px;
  }

  .Header {
    display: block;
  }

  .IntroBox {
    max-width: 100%;
    margin-right: -3px;
    padding: 20px;
  }

  .IntroBox h1 {
    font-size: 26px;
  }

  .IntroBox h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 5vw;
  }

  h2 {
    font-size: 9vw;
  }
}
